:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #98d5e4;
    --text-color: #2c3e50;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: auto;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.layout {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product-grid {
  flex: 3;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.product-card {
    background-color: white; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.cart-card {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}

.cart-card:hover {
    transform: scale(1.02);
}

.card {
    flex: 1;
    background: white;
    padding: 1rem;
    border-radius: 8px;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #27ae60;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}